/* src/App.css */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
    max-width: 1200px; /* Maksymalna szerokość treści. Możesz ją zmniejszyć lub zwiększyć. */
    margin: 0 auto;   /* To centruje kontener na stronie. */
    padding: 20px;     /* Wewnętrzne odstępy, aby treść nie dotykała krawędzi. */
}

.App {
  padding: 20px;
}

.doctor-selector {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.doctor-selector label {
  margin-right: 10px;
}

.doctor-selector select {
  padding: 8px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}



/* Poprawki dla FullCalendar */
.fc {
  max-width: 1100px;
  margin: 0 auto;
}

/* BookingModal*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: #888;
}

.modal-book-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 15px;
}

.modal-book-button:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ważne, aby padding nie powiększał diva */
}

/* AuthModal*/
.error-message {
    color: #d9534f;
    margin-bottom: 15px;
    text-align: center;
}

.switch-mode-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}