html, body {
    overflow-x: hidden; /* Zapobiega pojawianiu się poziomego paska przewijania */
    width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fc-timegrid-slot:not(.fc-timegrid-slot-lane):hover {
    background-color: #e0f2fe; /* Jasnoniebieski kolor - możesz wybrać inny */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.busy-event {
    cursor: not-allowed; /* Kursor "zakazu" */
    background-color: #6c757d !important; /* Używamy !important, aby nadpisać domyślne style FullCalendar */
    border-color: #6c757d !important;
}